@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');

body {
  font-family: Arial;
  background: linear-gradient(to right, #5c258d, #4389a2);
}

.elementCell{
  cursor: pointer;
}

.periodic {
  position: relative;
  height: 200px;
  margin-right: -1px;
  text-shadow: none;
}

.periodic-row {
  clear: both;
	  height: 10%;
}

.cell {
  float: left;
  position: relative;
  width: 5.55%;
  height: 100%;
}

.element {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 1px;
  right: 1px;
  box-sizing: border-box;
  box-shadow: 0px 0px 4px rgba(255,255,255,0.5);
  border: 1px solid rgba(0,0,0,0.05);
  text-align: center;
  cursor: default;
  pointer-events: none;
  
  background-color: rgba(0, 128, 128, 0.6);
}

.cell:hover .element {
  border-color: rgba(0,0,0,0.1);
  z-index: 1;
  
  background-color: rgba(0, 128, 128, 0.9);
}

.at_num,
.at_details {
  position: absolute;
  font-size: 4px;
  color: rgba(255,255,255,0.5);
  opacity: 0;
}

.at_num {
  top: 4px;
  right: 5px;
}

.symbol {
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
  margin-top: -4px;
  font-size: 9px;
  line-height: 1;
  height: 9px;
  color: rgba(255,255,255,0.9);
}

.at_details {
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.cell:nth-child(-n+2) .element,
.cell:nth-child(n+13) .element {
  background-color: rgba(0, 160, 96, 0.6);
}

.cell:nth-child(1) .element,
.periodic-row:nth-child(2) .cell:nth-child(n+14) .element,
.periodic-row:nth-child(3) .cell:nth-child(n+15) .element,
.periodic-row:nth-child(4) .cell:nth-child(n+16) .element,
.periodic-row:nth-child(5) .cell:nth-child(n+17) .element {
  background-color: rgba(0, 192, 64, 0.6);
}

.periodic-row:nth-child(-n+6) .cell:nth-child(18) .element {
  background-color: rgba(64, 192, 0, 0.6);
}

.periodic-row:nth-child(n+9) .element {
  background-color: rgba(0, 96, 160, 0.6);
}

.cell:nth-child(-n+2):hover .element,
.cell:nth-child(n+13):hover .element {
  background-color: rgba(0, 160, 96, 0.9);
}

.cell:nth-child(1):hover .element,
.periodic-row:nth-child(2) .cell:nth-child(n+14):hover .element,
.periodic-row:nth-child(3) .cell:nth-child(n+15):hover .element,
.periodic-row:nth-child(4) .cell:nth-child(n+16):hover .element,
.periodic-row:nth-child(5) .cell:nth-child(n+17):hover .element {
  background-color: rgba(0, 192, 64, 0.9);
}

.periodic-row:nth-child(-n+6) .cell:nth-child(18):hover .element {
  background-color: rgba(64, 192, 0, 0.9);
}

.periodic-row:nth-child(n+9) .cell:hover .element {
  background-color: rgba(0, 96, 160, 0.9);
}

.modal-header{
  background-color: #1b32b3c4;
}

.modal-body{
  font-family: "Roboto Condensed";
}

.close{
  color:white;
}

b{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  text-shadow: 0 0 4px rgba(255,255,255,0.5);
  color:white;
  margin-right: 0.4rem;
}

.modal-text{
  font-size: 1.5rem;
}

.modal-content{
  background-color: rgba(20, 78, 153, 0.74);
  color: rgb(41, 202, 223);
}



@media (min-width: 600px) {
  .periodic {
    height: 460px;
    margin-right: -2px;
  }
  
  .element {
    right: 2px;
    bottom: 2px;
  }
  
  .at_num,
  .at_details {
    font-size: 4px;
    opacity: 1;
  }

  .symbol {
    margin-top: -17px;
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;
    height: 30px;
    color: rgba(255,255,255,0.75);
    text-shadow: 0 0 4px rgba(255,255,255,0.5);
  }
}

@media (min-width: 800px) {
  .periodic {
    height: 540px;
  }

  .symbol {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .periodic {
    height: 680px;
  }
  
  .at_num,
  .at_details {
    font-size: 5px;
  }

  .symbol {
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
  .periodic {
    height: 800px;
  }
  
  .at_num,
  .at_details {
    font-size: 0.6rem;
  }

  .symbol {
    font-size: 30px;
  }

  footer {
    margin-top: 2rem;
    width: 100%;
    background-color: rgb(61, 61, 61);
    color: white;
   
  }

  #cred{
    font-size: 1rem;
  }
}
